## Deliverable 2. Create a Customer Travel Destinations Map.

In [13]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [16]:
import os
os.getcwd()

'/Users/pegahzangeneh/Desktop/ClassWork/World_Weather_Analysis/Vacation_Search'

In [17]:
os.chdir('/Users/pegahzangeneh/Desktop/ClassWork/World_Weather_Analysis')
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Hobart,AU,-42.88,147.33,45.00,81,75,11.41,broken clouds
1,1,Kapaa,US,22.08,-159.32,87.80,58,40,11.41,scattered clouds
2,2,Honiara,SB,-9.43,159.95,87.80,66,20,5.82,few clouds
3,3,Mataura,NZ,-46.19,168.86,69.01,51,32,18.01,scattered clouds
4,4,Mount Gambier,AU,-37.83,140.77,50.00,87,90,6.93,overcast clouds

In [18]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [19]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
1,1,Kapaa,US,22.08,-159.32,87.80,58,40,11.41,scattered clouds
2,2,Honiara,SB,-9.43,159.95,87.80,66,20,5.82,few clouds
7,7,San Andres,CO,12.58,-81.70,84.20,79,75,4.70,broken clouds
13,13,Avarua,CK,-21.21,-159.78,75.20,73,99,9.17,overcast clouds
14,14,Basco,PH,20.45,121.97,81.64,77,81,22.55,broken clouds
18,18,Victoria,HK,22.29,114.16,81.00,92,19,12.95,moderate rain
19,19,Anuradhapura,LK,8.36,80.42,75.96,85,67,9.15,broken clouds
23,23,Tual,ID,-5.67,132.75,80.85,81,90,10.20,overcast clouds
27,27,Atuona,PF,-9.80,-139.03,77.81,77,45,14.81,scattered clouds
34,34,Poindimie,NC,-20.93,165.33,77.22,56,0,1.52,clear sky

In [20]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                230
City                   230
Country                229
Lat                    230
Lng                    230
Max Temp               230
Humidity               230
Cloudiness             230
Wind Speed             230
Weather Description    230
dtype: int64

In [24]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_cities_df = preferred_cities_df.dropna()
clean_cities_df.count()

City_ID                229
City                   229
Country                229
Lat                    229
Lng                    229
Max Temp               229
Humidity               229
Cloudiness             229
Wind Speed             229
Weather Description    229
dtype: int64

In [26]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_cities_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
1,Kapaa,US,87.80,scattered clouds,22.08,-159.32,
2,Honiara,SB,87.80,few clouds,-9.43,159.95,
7,San Andres,CO,84.20,broken clouds,12.58,-81.70,
13,Avarua,CK,75.20,overcast clouds,-21.21,-159.78,
14,Basco,PH,81.64,broken clouds,20.45,121.97,
18,Victoria,HK,81.00,moderate rain,22.29,114.16,
19,Anuradhapura,LK,75.96,broken clouds,8.36,80.42,
23,Tual,ID,80.85,overcast clouds,-5.67,132.75,
27,Atuona,PF,77.81,scattered clouds,-9.80,-139.03,
34,Poindimie,NC,77.22,clear sky,-20.93,165.33,

In [27]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
         hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
         print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [29]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
1,Kapaa,US,87.80,scattered clouds,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
2,Honiara,SB,87.80,few clouds,-9.43,159.95,Heritage Park Hotel
7,San Andres,CO,84.20,broken clouds,12.58,-81.70,Hotel Arena Blanca
13,Avarua,CK,75.20,overcast clouds,-21.21,-159.78,Paradise Inn
14,Basco,PH,81.64,broken clouds,20.45,121.97,Nathaniel's Lodge
18,Victoria,HK,81.00,moderate rain,22.29,114.16,Mini Hotel Central
19,Anuradhapura,LK,75.96,broken clouds,8.36,80.42,Nilketha Villa Eco Hotel
23,Tual,ID,80.85,overcast clouds,-5.67,132.75,Grand Vilia Hotel
27,Atuona,PF,77.81,scattered clouds,-9.80,-139.03,Villa Enata
34,Poindimie,NC,77.22,clear sky,-20.93,165.33,hotel de la plage

In [33]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [38]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [39]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))